<div class="grid-y">
  <div class="cell section">
    <div class="grid-x align-middle">
      <div class="cell small-4">
        <div class="grid-y">
          <div class="cell h1 text-left font-bold">
            The Cheapest Textbooks
          </div>
          <div class="cell h4 text-left color-primary font-bold">
            Save Up To 90% On Millions Of Titles
          </div>
          <div class="cell text-left">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            </p>
          </div>
          <div class="cell">
            <button type="button" class="button primary large action-button -start">Get Started</button>
          </div>
        </div>
      </div>

      <div class="cell auto">
        <div class="grid-x align-right">
          <div class="cell small-8 book"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="cell section">
    <div class="grid-x align-middle">
      <div class="cell auto">
        <div class="grid-x align-center">
          <div class="cell small-8 cover"></div>
        </div>
      </div>

      <div class="cell small-4">
        <div class="grid-y">
          <div class="cell h2 text-left color-white font-bold">
            Our Commitment
          </div>

          <div class="cell text-left color-white">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
          </div>

          <div class="cell">
            <button type="button" class="button hollow action-button -learn">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cell section -with-bottom-margin">
    <div class="grid-y align-center align-middle text-center">
      <div class="cell header">
        <span class="h1 color-white font-bold">Trusted By Awesome</span>
        <span class="h1 color-gold font-bold">Clients</span>
      </div>

      <div class="cell">
        <div class="grid-x align-center align-middle text-center">
          <div class="cell auto color-white font-bold">
            <%= image_tag 'binance', class: 'icon' %>
            Binance
          </div>

          <div class="cell auto color-white font-bold">
            <%= image_tag 'layer_x0020_1', class: 'icon' %>
            Bitcoin
          </div>

          <div class="cell auto color-white font-bold">
            <%= image_tag 'solana_sol_logo', class: 'icon' %>
            Solana
          </div>

          <div class="cell auto color-white font-bold">
            <%= image_tag 'solana_sol_logo', class: 'icon' %>
            Etherium
          </div>

          <div class="cell auto color-white font-bold">
            <%= image_tag 'tether_usdt_logo', class: 'icon' %>
            Tether
          </div>

          <div class="cell auto color-white font-bold">
            <%= image_tag 'layer_2', class: 'icon' %>
            XRP
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
