<div class="grid-container book-page">
  <div class="cell h1 font-bold header">
    Search Result
  </div>

  <% if @book %>
    <div class="cell">
      <div class="grid-x">
        <div class="cell">
          <%= @book.title %>
        </div>

        <div class="cell">
          <div class="h3 font-bold">
            <%= @book.title.titleize %>
          </div>

          <div class="h5 font-bold authors">
            by <%= @book.author_names %>
          </div>

          <div class="h5 font-bold">
            Edition: <span class="color-primary"><%= @book.edition %></span>
          </div>

          <div class="h5 font-bold">
            Price: <span class="color-primary"><%= @book.price %></span>
          </div>

          <div class="h5 font-bold">
            ISBN: <span class="color-primary"><%= @book.isbn_thirteen %></span>
          </div>

          <div class="h5 font-bold">
            Publication Year: <span class="color-primary"><%= @book.publicated_at %></span>
          </div>

          <div class="h5 font-bold">
            Publisher: <span class="color-primary"><%= @book.publisher.name.titleize %></span>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h3> No Result Found! </h3>
  <% end %>
</div>
